# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# IDE
.vscode/
*.swp

# Odoo config
*.log
*.db
*.zip
*.egg-info
.DS_Store
odoo.conf

# PostgreSQL dump files
*.sql

# Compiled assets
*.pot
*.mo

# System
*.~*

custom-addons/tradingview_clone/secrets.py